.idea/

# JA2 original resources
Data/*.slf
Data/NPCData/107.npc
Data/Tilecache/*.jsd
Data/Tilecache/FLY_SHDW.sti
Data/Tilecache/GEN_BLOW.sti
Data/Tilecache/HELI_SH.sti
Data/Tilecache/KNIFING.sti
Data/Tilecache/MINIBOOM.sti
Data/Tilecache/msle_sma.sti
Data/Tilecache/MSLE_SMK.sti
Data/Tilecache/MSLE_SPT.sti
Data/Tilecache/MUST_EXP.sti
Data/Tilecache/Mustard2.sti
Data/Tilecache/MUSTCHZE.sti
Data/Tilecache/MUSTRD.sti
Data/Tilecache/SHCKWAVE.sti
Data/Tilecache/SMALMUST.sti
Data/Tilecache/SMALSMKE.sti
Data/Tilecache/SMALTEAR.sti
Data/Tilecache/SMKECHZE.sti
Data/Tilecache/SMOKE.sti
Data/Tilecache/SPIT2.sti
Data/Tilecache/SPIT_GAS.sti
Data/Tilecache/TEAR_EXP.sti
Data/Tilecache/TEARCHZE.sti
Data/Tilecache/Teargas.sti
Data/Tilecache/WAT_EXP.sti
Data/Tilecache/ZGRAV_A.sti
Data/Tilecache/ZGRAV_B.sti
Data/Tilecache/ZGRAV_C.sti
Data/Tilecache/ZGRAV_D.sti
